html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

.form-full-page-parent {
  height: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-upload {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
}

.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.height-full {
  height: 100%;
}

.form-login .form-control:focus,
.form-upload .form-control:focus  {
  z-index: 2;
}

@media only screen and (max-width: 768px) {
 .form-upload {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
}